<table class="profile">
  <tr>
    <td class="main">
      <h2>
	<%= gravatar_for @user %>
	<%= @user.first %> <%= @user.last %>
	</h2>
	<td class="sidebar round">
	        <strong>Name</strong> <%= h @user.first %> <%= @user.last %><br />
      		<strong>URL</strong>  <%= link_to user_path(@user), @user %>
    </td>
  </tr>
</table>
